<h3>Nuevo Curso</h3>
<form (ngSubmit)="grabarCurso()">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
        </div>
        <input name="cursoNombre" [(ngModel)]="nuevoCurso.nombre" type="text" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de Inicio</span>
        </div>
        <input id="inputFechaInicio" name="cursofechaIncio" [(ngModel)]="nuevoCurso.fechaInicio" type="date" class="form-control" 
        [min] = "set_date" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de Finalizacion</span>
        </div>
        <input name="cursofechaFin" [(ngModel)]="nuevoCurso.fechaFin" type="date" class="form-control" [min] = "set_date"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Profesor Asignado</span>
        </div>
        <select name="profesorId" [(ngModel)]="nuevoCurso.profesorId">
            <option [ngValue]="null" disabled>Elija un profesor</option>
            <option [ngValue]="pro.id" *ngFor="let pro of _profesorRepoService.listadoProfesores">{{ pro.apellido }},
                {{ pro.nombre }}</option>
        </select>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Profesor Auxiliar</span>
        </div>
        <select name="profesorauxId" [(ngModel)]="nuevoCurso.profesorauxId">
                <option [ngValue]="null" disabled>Elija un profesor </option>
            <option [ngValue]="pro.id" *ngFor="let pro of _profesorRepoService.listadoProfesores">{{ pro.apellido }},
                {{ pro.nombre }}</option>
        </select>
    </div>

    <button class="btn btn-success">Grabar</button><br>
</form>