<div>
  <h3 style="text-align: center;">Listado Alumnos</h3>
  <div class="form-group">
    <label>Buscar</label>
    <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Nombre">
  </div>

  <table class="table" style="border: solid 1px;">
    <tr>
      <th>Dni</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de Nacimiento</th>
    </tr>
    <tr *ngFor="let alumno of _alumnoRepoService.listadoAlumnos | buscar:busqueda">
      <td>{{ alumno.dni }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.fechaNacimiento }}</td>
      <td class="btn btn-danger" (click)="borrarAlumno(alumno.id)">Borrar</td>
      <td class="btn btn-warning" (click)="formulario.editarAlumno(alumno.id)" (click)="VerEdicion()">Editar</td>
      <td class="btn btn-success" (click)="InscribirAlumno(alumno.id)" >Inscribir a curso</td>
    </tr>
  </table>

  <div [hidden]="inscribir === false">
    <h3 style="text-align: center;">Seleccione Curso para Inscribir</h3>
    <div class="form-group">
      <label>Buscar</label>
      <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Nombre">
    </div>
    <table class="table" style="border: solid 1px;">
      <tr>
        <th>Nombre de curso</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Profesor</th>
        <th>Profesor Auxiliar</th>
      </tr>
      <tr *ngFor="let curso of _cursoRepoService.listadoCursos | buscar:busqueda">
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.fechaInicio }}</td>
        <td>{{ curso.fechaFin }}</td>
        <td>{{ curso.profesorId  }}</td>
        <td>{{ curso.profesorauxId }}</td>
        <td class="btn btn-success" (click)="grabarCursoAlumno(curso.id)">Inscribir</td>
      </tr>
    </table>
  </div>





  <app-alumnos-form #formulario [hidden]="inscribir !== false"></app-alumnos-form>
</div>